@extends ""

@type "structure" | "widget" | "meta"

@attr {
    let maxwidth: string = ""
    let minwidth: string = "0";
    let basewidth: string = "";
    let header: string = ""
    let showtopbar: string = "false"
    let showbgcolor: string = "true"
    let blurbg: string = "false"
    let custombgfilter: string = ""
    let dropshadow: string = "false"
    let headerlevel: string = "h2"
    let extratoppadding: string = "true"
    let card: string = "false"
    let mt: string = "0";
    let mb: string = "0";
    let ml: string = "auto";
    let mr: string = "auto";
    let mx: string = "";
    let my: string = "";
    let m: string = "";
    let mac_style_controls: string = "false"
    let closable: string = "false"
    let control_options: string = "[]"
}

@env {
    //Has access to all variables imported in @attr
    //Imports are relative to your working directory
    import { chichi } from "dogs"

    let margins = {
        t: mt,
        b: mb,
        l: ml,
        r: mr
    }

    function alert() {
        window.alert("Good times")
    }

    $: console.log("Svelte-style reactive statements are allowed.")
}

//Lifecycle processes: mount, unmount, tick
@mount {
    //Has access to all variables and functions set in @env
    if(mx) {
        margins.l = mx
        margins.r = mx
    }

    if(my) {
        margins.t = my
        margins.b = my
    }

    if(m) {
        margins.l = m
        margins.r = m
        margins.t = m
        margins.b = m
    }
}

@html {
    //Standard HTML with Svelte-style binding
}

@style {
    //SCSS or Sass style with access to global CSS and variables
}