@use "./variables.scss";
@use "sass:math";

:root {
  font-family: variables.$bodyFont;
  font-size: variables.$fontSize;

  //Theming
  color-scheme: light dark;
  @include variables.theme-colors;
  --window-height: var(--window-height);

  //Background props
  color: var(--fontColor);
  background-color: var(--bg);

  //Font rendering options
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Headers
  h1 {
    color: white;
    font-size: 3.5rem;
    text-align: center;

    &:not(.primary) {
      text-shadow: variables.$textShadow;
      margin-bottom: variables.$padding;
    }

    &.primary {
      color: var(--headerPrimary);
    }
  }

  h2, h3, h4, h5 {
      color: var(--fontColor);
      margin-bottom: math.div(variables.$padding, 2);
  }
}

html, body {
  margin: 0; padding: 0;
}