@use "./variables.scss";
@use "sass:math";

:root {
  font-family: variables.$bodyFont;
  font-size: variables.$fontSize;

  //Theming
  color-scheme: light dark;
  @include variables.theme-colors;

  //Background props
  color: var(--fontColor);
  background-color: var(--bg);

  //Font rendering options
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1 {
    color: white;
    font-size: 3.5rem;
    text-align: center;
    text-shadow: variables.$textShadow;
  }

  h2, h3, h4, h5 {
      color: var(--fontColor);
      margin-bottom: math.div(variables.$padding, 3);
  }

  button {
      padding: .5rem;
      cursor: pointer;

      &:hover {
          filter: brightness(3.5);
      }
  }
}